@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import "variables";

#tYS{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    // background-image:url(internet-g658ac3c87_1920.jpg);

    // img{
    //     position: absolute;
    //     width: 12cm;
    //     height: 1cm;

    // }
}
.NavHm{
    display: none;

}

#head{
    
    background:#eee8d8;
    padding: 10px;
    // margin-top: 0.3cm;
    margin-left: 5cm;
    margin-right: 5cm;
    border-radius: 20px;
}


#body{
    margin-top: 2rem;


}

#welcome{
    margin-left: 35%;
    margin-bottom: 5%;
}

#discurso{
    display: flex;
    justify-content: center;
    
}

#infoIndx{
    position: absolute;
    left: 30%;
    top: 19cm;
    background-color: rgb(255, 250, 243, 70%);
    width: 20rem;
}


footer{
    /* padding-right: 100%; */
    margin-top: 10px;
    
}   

#mrc{
    /* margin-left: 45%; */
    /* margin-bottom: 2rem; */
    font-size: -webkit-xxx-large;

}



ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style:none;

}
li a{
    // background-color: black;
    padding: 10px;
    border-radius:20px;
    color: rgb(95, 95, 95);
    text-decoration: none;  
    transition: 1s;    
}

li a:hover{
    color: rgb(0, 0, 0);
    border-radius: 10px;
    
}




form input{
    border:1px;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
} 

form input:hover{
    background-color:rgb(218, 218, 218);
}
/* 
form input:focus{
    position: absolute;
    padding: 100px;
} */
.completar{
    border: none;
    background-color:rgba(255, 255, 255, 0);
    padding: 10px;
    transition: 1s;
    cursor: text;
}


#saver:hover{
    background-color: #e6e4e4;
    border: #000;
    color: #000;
    border-radius: 10px;
}
#saver{
    border: #fff;
    padding: 10px;
    color: rgb(100, 100, 100);
    border-radius: 5px;
}



#help{
    text-decoration: none;
    color: rgb(20, 20, 20);
}


footer{
    background-color:#f7f5ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}



footer h3{
    margin-right: 30px;

}

footer a{
    margin-right: 30px;

}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;

    /* display: grid;
    grid-template-columns:20% 20% 20% 20% 20%; */
}

.preguntas{
    display: flex;
    flex-direction: row;
    align-items:center;
    list-style:none;
    justify-content: space-evenly;

}
button.carousel-control-next{
    left: 280px;
}


.textos{
    display: flex;
    flex-direction: row;
}


#asunto{
    padding-right: 90px;
}

#nosotros{
    width: 136px;
    height: 48px;
}

#contForm{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info{
    width: 59.28px;
    height: 30.05px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #898989;
}

.mlytel{
    width: 196px;
    height: 26px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000;

}
#cards{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;

}
body{
    display: grid;
    // grid-template-columns:1fr 1fr 1fr 1fr;
    // grid-template-areas: "tYS head body footer";
    background-color: #f7f5ee !important;
    // background-image: url(/proyecto-coder/assets/hablando.jpg);
    // background-repeat:no-repeat;
    // background-size:100%;
    grid-template-rows:0.09fr 1.4cm 30cm 0.063fr; 

}



.h3{
    margin: 0;
    margin-right:10px ;
}
@keyframes unEfecto {
    0%{}
    25%{}
    100%{}
}


.Ws{
    height: 60px;
}

.Ig{
    height: 40px;
}
#fotoOn{
    width: 400px;

}
#welcome{
    img{
        width: 400px;
        height: 460px;
}}
#indImg{
    width: 10px;
    height: 1px;

}

.container img{

    width: 200px;

}
#parrafoPrd{
    margin-left: 120px;

}

#form{
    border: #000;

}
.paleta{
    margin-left: 20%;
}

@media screen and (max-width:430px){
    body{
        display: grid;
        grid-template-rows: 100px 0cm 18cm 0;

    }
    .bodyPg{

        grid-template-rows:100px 0cm 1200px 250px;
    }
    .bodyCt{
        grid-template-rows:100px 0cm 580px 125px;

    }
    .bodyPr{
        grid-template-rows: 100px 0cm 105% 0cm;

    }
    h3{
        font-size: small !important;
    }
    h2{
        font-size: medium !important;
    }
    h1{
        font-size: larger !important;
    }
    // #carouselExampleIndicators{
    //     width: 50px;
    //     margin-right: 60%;
    // }
    .NavHm{
        display: block;
    }
    #head{
        display: none;
        // background: #eee8d8;
        // padding: 5px;
        // margin-left: 2cm;
        // margin-right: 2cm;
        // border-radius: 20px;
    }
    #tYS h3{
        font-size: medium;

    }
    #tYS{
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 10px;
    }
    #mrc{
        font-size: large;
    }
    .textos{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #contForm{
        align-items: flex-start;
        flex-direction: column;
    }

    #form{
        margin-bottom: 40px;
    }
    #nos{
        margin-left: 125px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    ul li a{
        padding: 2px;
        font-size:xx-small;
        display: flex;
        flex-direction: row;
        margin: 0;
        list-style:none;
    } 
    #welcome {
        margin-left: 75px;
        margin-top: 28px;
        img{
        width: 220px;
        height: 250px;
    }
}
    .Ws{
        height: 30px;
    }
    #carouselExampleIndicators img{
        width: 100px;

    }
    .Ig{
        height: 30px;
    }
    #fotoOn{
        // height: 221px;
        width: 220px;

    }
    #infoIndx p{
        font-size: xx-small;
    }
    #infoIndx{
        /* height: 100px; */
        width: 190px;
        top: 484px;
        left: 10%;
    
    h2{
        font-size: medium;
    }
}
    #discurso{
        margin-top:2cm ;

    }
    button.carousel-control-next{
        left: 109px;
    }
    .container{
        img{
            width: 100px;
        }
    }
    #parrafoPrd {
        margin-left: 0;
    }
    .paleta{
        width: 320px;
        margin: 0;
    }
}

